
<!-- Start: Slides  -->
    <div class="slides_wrapper">
        <div class="slider_home" id="slider_owl">
            <!-- Slider 1 -->
            <div class="single_slider slide_bg_1">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-sm-12">
                                    <h5> Join with us for Ganesh Chaturthi </h5>
                                    <h2>
                                        <span> seasonal chocolates, Aamba, Mava modak & more. </span>
                                    </h2>
                                    <div class="slider_btn">
                                        <a  routerLink="/contactus" class="slider_btn_one more-link">Contact Us <i
                                                class="far fa-chevron-double-right"></i></a>
                                        <a  class="slider_btn_two more-link"   [routerLink]="['/mainshop']" [queryParams]="{filter: 'Festival Specials'}">Buy Product <i
                                                class="far fa-chevron-double-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 1 -->
            <!-- Slider 2 -->
            <div class="single_slider slide_bg_2">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-sm-12">
                                    <h5> Join with us for RakshaBandhan </h5>
                                    <h2>
                                       <span> Narali Barfi made of Coconut squares symbolizing sibling love.</span>
                                    </h2>
                                    <div class="slider_btn">
                                        <a routerLink="/contactus" class="slider_btn_one more-link">Contact Us <i
                                                class="far fa-chevron-double-right"></i></a>
                                                <a  class="slider_btn_two more-link" (click)="navigateToSingleProduct(51)">Buy Product <i
                                                    class="far fa-chevron-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 2 -->

             <!-- Slider 1 -->
             <div class="single_slider slide_bg_1">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-sm-12">
                                    <h5> Join with us for Darsara & Diwali </h5>
                                    <h2>
                                        <span> Assortment celebrating India's grand festivals with Mix Mithai </span>
                                    </h2>
                                    <div class="slider_btn">
                                        <a  routerLink="/contactus" class="slider_btn_one more-link">Contact Us <i
                                                class="far fa-chevron-double-right"></i></a>
                                        <a  class="slider_btn_two more-link" [routerLink]="['/mainshop']" [queryParams]="{filter: 'Festival Specials'}">Buy Product <i
                                                class="far fa-chevron-double-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 1 -->

             <!-- Slider 1 -->
             <div class="single_slider slide_bg_1">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-sm-12">
                                    <h5> Join with us for Dairy Products </h5>
                                    <h2>
                                        <span>High fat content cow & bufallo milk </span>
                                    </h2>
                                    <div class="slider_btn">
                                        <a  routerLink="/contactus" class="slider_btn_one more-link">Contact Us <i
                                                class="far fa-chevron-double-right"></i></a>
                                        <a  class="slider_btn_two more-link" (click)="navigateToSingleProduct(1)">Buy Product <i
                                                class="far fa-chevron-double-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 1 -->


             <!-- Slider 1 -->
             <div class="single_slider slide_bg_1">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-sm-12">
                                    <h5> Join with us for Sweet  Products </h5>
                                    <h2>
                                        <span> Kajoo katali with Rich Cashew thins. </span>
                                    </h2>
                                    <div class="slider_btn">
                                        <a  routerLink="/contactus" class="slider_btn_one more-link">Contact Us <i
                                                class="far fa-chevron-double-right"></i></a>
                                        <a  class="slider_btn_two more-link" (click)="navigateToSingleProduct(41)">Buy Product <i
                                                class="far fa-chevron-double-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 1 -->

             <!-- Slider 1 -->
             <div class="single_slider slide_bg_1">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-sm-12">
                                    <h5>Join with us for Sweet  Products</h5>
                                    <h2>
                                        <span> Wholesome Dink Ladoo with  edible gum and nuts. </span>
                                    </h2>
                                    <div class="slider_btn">
                                        <a  routerLink="/contactus" class="slider_btn_one more-link">Contact Us <i
                                                class="far fa-chevron-double-right"></i></a>
                                        <a  class="slider_btn_two more-link" (click)="navigateToSingleProduct(35)">Buy Product <i
                                                class="far fa-chevron-double-right"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 1 -->
        </div>
    </div>

    <!-- End:  Slider Section
==================================================-->



    <!-- Start: About Us Section
==================================================-->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 my-auto">
                <div class="base-header base_header_left">
                    <span class="heading_small">
                        About Us
                    </span>
                    <h2> About Sandeep Dairy Farm & timeless Legacy.</h2>
                    <p>Established by Dilip Chorghe in Mulshi, Sandeep Dairy Farm blends tradition with innovation. Beginning with Mahadu Chorghe's single cow, the legacy expanded to 70 cows under Diwanji's vision. </p>

                    <div class="about_list">
                        <img src="../../assets/images/about-icon.png" alt="">
                        <p>Today, emphasizing hygiene and ethics, they offer 20 milk and 30 sweet products with major outlets in Pirangut and Kothrud. Committed to excellence, they intertwine ancestral values with modernity.</p>
                    </div>

                    <a routerLink="/aboutus" class="more-link">Read More <i class="far fa-chevron-double-right"></i></a>
                </div>
            </div>
            <!-- /.about_wrp-->
            <div class="col-lg-6 col-md-12" id="scene">
                <div class="about_img layer" data-depth="0.20">
                    <img src="../../assets/images/about.png" alt="image">
                </div>
            </div>
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End: About Us Section
==================================================-->


    <!-- Start:Our Services Section
==================================================-->
<section class="service-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <span class="heading_small"> Products </span>
            <h2> What We Offer</h2>
        </div>
        <!-- End: Heading -->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- service-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <i class="fad fa-bread-loaf"></i>
                    </div>
                    <h4>Milk Products </h4>
                    <p> Fresh, creamy, and nourishing, our milk is nature's wholesome sip straight from the farm.</p>
                    <a [routerLink]="['/mainshop']" [queryParams]="{filter: 'Milk Products'}" class="ser-link"><i class="far fa-chevron-double-right"></i></a>
                </div>
                <!-- End: .service-item -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!-- service-item -->
                <div class="service-item">
                    <div class="icon-serv">
                        <i class="fad fa-cookie-bite"></i>
                    </div>
                    <h4>Sweet Products </h4>
                    <p> Celebrate traditions with our festive essentials, capturing the spirit and warmth of every occasion.</p>
                    <a [routerLink]="['/mainshop']" [queryParams]="{filter: 'Sweet Products'}" class="ser-link"><i class="far fa-chevron-double-right"></i></a>
                </div>
                <!-- End: .service-item -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="service-item">
                    <div class="icon-serv">
                        <i class="fad fa-cheese-swiss"></i>
                    </div>
                    <h4>Festival Specials </h4>
                    <p> Experienced stop to help you full Prond Experienced staffr eaelp
                        you help anytime you want</p>
                    <a [routerLink]="['/mainshop']" [queryParams]="{filter: 'Festival Specials'}" class="ser-link"><i class="far fa-chevron-double-right"></i></a>
                </div>
                <!-- End: .service-item -->
            </div>
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End:Our Services Section
==================================================-->



    <!-- Start:  Call to action  Section
==================================================-->
<section class="cta-section">
    <div class="container">
        <div class="row">
            <div class="cta-wrap">
                <div class="base-header">
                    <span class="heading_small"> Organic Food Products & Services </span>
                </div>
                <h2> Delivering true-to-nature organic benefits to everyone, all around the India.
                </h2>
                <a routerLink="/mainshop" class="more-link">Our Products <i
                        class="far fa-chevron-double-right"></i></a>
            </div>
        </div>
        <!--/ row - -->
    </div>
    <!--/ Container - -->
</section>
<!--   End:   Call to action Section
==================================================-->



    <!-- Start: Our Shop Section
==================================================-->
<section class="shop-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <span class="heading_small"> Shop Now </span>
            <h2>Our Products </h2>
        </div>
        <!-- End: Heading -->
        <div class="row">
            <div class="shop-carousel" id="shop_carousel">
                <div class="product-wrap">
                    <!-- product-item -->
                    <div class="product-img">
                        <img src="../../assets/images/product1.jpg" alt="image">
                       
                        <div class="prod_love">
                            <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="prod_rating">
                            1 Liter
                        </div>
                        <a (click)="navigateToSingleProduct(1)">
                            <h4>Buffalo milk </h4>
                        </a>
                        <p class="prod_price">
                            <span class="new">₹ 70 /-</span>
                        </p>
                    </div>
                    <!-- End: .product-item -->
                </div>
                <!-- /. product-wrap -->

                <div class="product-wrap">
                    <!-- product-item -->
                    <div class="product-img">
                        <img src="../../assets/images/product1.jpg" alt="image">
                       
                        <div class="prod_love">
                            <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="prod_rating">
                            1 Nag
                        </div>
                        <a (click)="navigateToSingleProduct(6)">
                            <h4>Malai lassi </h4>
                        </a>
                        <p class="prod_price">
                            <span class="new">₹ 40 /-</span>
                        </p>
                    </div>
                    <!-- End: .product-item -->
                </div>
                <!-- /. product-wrap -->

                <div class="product-wrap">
                    <!-- product-item -->
                    <div class="product-img">
                        <img src="../../assets/images/product1.jpg" alt="image">
                       
                        <div class="prod_love">
                            <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="prod_rating">
                            1 Kilogram
                        </div>
                        <a (click)="navigateToSingleProduct(19)">
                            <h4>Amrakhand </h4>
                        </a>
                        <p class="prod_price">
                            <span class="new">₹ 320 /-</span>
                        </p>
                    </div>
                    <!-- End: .product-item -->
                </div>
                <!-- /. product-wrap -->

                <div class="product-wrap">
                    <!-- product-item -->
                    <div class="product-img">
                        <img src="../../assets/images/product1.jpg" alt="image">
                       
                        <div class="prod_love">
                            <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="prod_rating">
                            1 Kilogram
                        </div>
                        <a (click)="navigateToSingleProduct(21)">
                            <h4>Paneer </h4>
                        </a>
                        <p class="prod_price">
                            <span class="new">₹ 360 /-</span>
                        </p>
                    </div>
                    <!-- End: .product-item -->
                </div>
                <!-- /. product-wrap -->

                <div class="product-wrap">
                    <!-- product-item -->
                    <div class="product-img">
                        <img src="../../assets/images/product1.jpg" alt="image">
                       
                        <div class="prod_love">
                            <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="prod_rating">
                            1 Kilogram
                        </div>
                        <a (click)="navigateToSingleProduct(27)">
                            <h4>Pista barfi </h4>
                        </a>
                        <p class="prod_price">
                            <span class="new">₹ 600 /-</span>
                        </p>
                    </div>
                    <!-- End: .product-item -->
                </div>
                <!-- /. product-wrap -->

                <div class="product-wrap">
                    <!-- product-item -->
                    <div class="product-img">
                        <img src="../../assets/images/product1.jpg" alt="image">
                       
                        <div class="prod_love">
                            <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="prod_rating">
                            1 Kilogram
                        </div>
                        <a (click)="navigateToSingleProduct(35)">
                            <h4>Dink ladoo </h4>
                        </a>
                        <p class="prod_price">
                            <span class="new">₹ 520 /-</span>
                        </p>
                    </div>
                    <!-- End: .product-item -->
                </div>

                <div class="product-wrap">
                    <!-- product-item -->
                    <div class="product-img">
                        <img src="../../assets/images/product1.jpg" alt="image">
                       
                        <div class="prod_love">
                            <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="prod_rating">
                            1 Kilogram
                        </div>
                        <a (click)="navigateToSingleProduct(39)">
                            <h4>Gulabjamun </h4>
                        </a>
                        <p class="prod_price">
                            <span class="new">₹ 320 /-</span>
                        </p>
                    </div>
                    <!-- End: .product-item -->
                </div>

                <div class="product-wrap">
                    <!-- product-item -->
                    <div class="product-img">
                        <img src="../../assets/images/product1.jpg" alt="image">
                       
                        <div class="prod_love">
                            <a class="cart-icon" href="single-product.html"><i class="fal fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="prod_rating">
                            1 Kilogram
                        </div>
                        <a (click)="navigateToSingleProduct(41)">
                            <h4>Kajoo katli </h4>
                        </a>
                        <p class="prod_price">
                            <span class="new">₹ 960 /-</span>
                        </p>
                    </div>
                    <!-- End: .product-item -->
                </div>

                
            </div>
            <!-- /. col-md-4 -->
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End: Our Shop Section
==================================================-->


    <!-- Start:  Featured Product Section
==================================================-->
<section class="featured-product-section">
    <!-- Container -->
    <div class="container-fluid">
        <!-- Start: Heading -->
        <div class="base-header">
            <span class="heading_small"> Products </span>
            <h2> Featured Product</h2>
        </div>
        <!-- End: Heading -->
        <div class="row">
            <div class="col-lg-5 col-sm-12  my-auto">
                <div class="fea-img-carousel" id="fea_carousel">
                    <div class="fea-img"></div>
                    <div class="fea-img"></div>
                </div>
                <!-- End: Heading -->
            </div>
            <div class="col-lg-7 col-sm-12 my-auto">
                <div class="featured-container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="fea-product-item">
                                <div class="fea-icon">
                                    <i class="fad fa-bread-loaf"></i>
                                </div>
                                <div class="fea-text">
                                    <h4>Pure Indulgence</h4>
                                    <p>Exquisite flavors ensuring a delightful, unmatched sensory experience every time.
                                    </p>
                                    <ul>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span>Handcrafted Delights</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span>Authentic Flavors</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end: col-md-6 -->

                        <div class="col-md-6 col-sm-12">
                            <div class="fea-product-item">
                                <div class="fea-icon">
                                    <i class="fad fa-cookie-bite"></i>
                                </div>
                                <div class="fea-text">
                                    <h4> Tradition Meets Innovation </h4>
                                    <p>Merging age-old recipes with contemporary methods for a unique blend of past and present.
                                    </p>
                                    <ul>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span>Age-old Recipes</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span>Modern Techniques</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--  end: col-md-6  -->

                        <div class="col-md-6 col-sm-12">
                            <div class="fea-product-item">
                                <div class="fea-icon">
                                    <i class="fad fa-cheese-swiss"></i>
                                </div>
                                <div class="fea-text">
                                    <h4> Nutrition Preserved </h4>
                                    <p>Prioritizing health by retaining all natural nutrients, ensuring wholesome consumption.
                                    </p>
                                    <ul>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span>No Preservatives</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span>Rich in Nutrients</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--  end: col-md-6  -->

                        <div class="col-md-6 col-sm-12">
                            <div class="fea-product-item">
                                <div class="fea-icon">
                                    <i class="fad fa-bread-loaf"></i>
                                </div>
                                <div class="fea-text">
                                    <h4> Customer Centric</h4>
                                    <p>Always placing customer needs at the forefront, ensuring satisfaction and trust.
                                    </p>
                                    <ul>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span>Consistent Quality</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-check"></i>
                                            <span>Your Satisfaction, Our Promise</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--  end: col-md-6  -->

                    </div>
                </div>
            </div>
        </div>
        <!--/ row - -->
    </div>
    <!--/ Container - -->
</section>
<!--   End:  Featured Product  Section
==================================================-->

<br>
    <!-- Start:  Team Section
==================================================-->
<section class="team-section" style="padding: 0%;padding-bottom: -5%;bacKilogramround-color: white;">
    <iframe  height="600" style="width: 100%;" src="https://www.youtube.com/embed/nQKXWj6sT_Q?autoplay=1&mute=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-pocket"> </iframe>
</section>
<!-- End: Team Section
==================================================-->




    <!--  Start:Testimonials Section
==================================================-->
<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12" id="scene2">
                <div class="testi_sing_img layer" data-depth="0.50">
                    <img alt="testimonial" src="../../assets/images/testimonial.png">
                </div>
            </div>

            <div class="col-lg-6 col-sm-12">
                <!-- Start: Heading -->
                <div class="base-header base_header_left">
                    <span class="heading_small"> Review </span>
                    <h2> What Client's Say</h2>
                </div>
                <!-- End: Heading -->
                <div class="testimonial-carousel" id="testimonial">
                    <div class="item">
                        <!-- profile 1-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>"Absolutely loved the Kajoo Katli! It was just the right amount of sweet, with the rich taste of kajoo (cashews) shining through. It reminded me of my childhood Diwali celebrations. Perfect for gifting and treating guests. Highly recommend!"</p>
                            </div>
                            <div class="testi_img">
                                
                                <h4>Gaurav Mali <span>Kothrud,Pune</span></h4>
                            </div>
                        </div>
                    </div>
                    <!--End: profile 1-->
                    <div class="item">
                        <!-- profile 2-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>"This Malai Lassi is a refreshing delight, especially during hot summer days. The creaminess from the malai and the slight tanginess make it a perfect drink. Feels like a cool breeze in every sip. A must-try for everyone!"</p>
                            </div>
                            <div class="testi_img">
                               
                                <h4>Amol Patil <span>Katraj, Pune</span></h4>
                            </div>
                        </div>
                    </div>
                    <!-- End: profile 2 -->
                    <div class="item">
                        <!-- profile 3-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>"The Malai Pedhe were melt-in-the-mouth soft. Rich and creamy, these pedhe have the authentic taste that takes me back to my grandma's kitchen. The best treat for any festive occasion or just to satisfy sweet cravings. Thumbs up!"</p>
                            </div>
                            <div class="testi_img">
                               
                                <h4>Om Nikam<span>Solapur, Maharastra</span></h4>
                            </div>
                        </div>
                    </div>
                    <!--End: profile 3-->
                    <div class="item">
                        <!-- profile 4-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>"Amrakhand is a blissful mix of mango and yogurt. This one has the right balance – not too sweet, with the natural flavor of ripe mangoes. Feels like a creamy mango delight in a bowl. Can't get enough of it!"</p>
                            </div>
                            <div class="testi_img">
                                
                                <h4>Prathamesh Garghe <span>Sangali, Maharashtra</span></h4>
                            </div>
                        </div>
                    </div>
                    <!-- End: profile 4 -->
                    <div class="item">
                        <!-- profile 4-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>""Basundi is always a treat, and this one doesn't disappoint. Thick, creamy, and laden with dry fruits, it's a delightful end to any meal. The subtle cardamom notes add to its charm. A true Indian dessert classic!""</p>
                            </div>
                            <div class="testi_img">
                                
                                <h4>Mahesh Nikam <span>Solapur, Maharashtra</span></h4>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <!-- profile 4-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>""Got the Kalakand for a family function, and it was an instant hit! Everyone loved its grainy texture and the milky taste. It's a classic sweet done right. Will order more for the next occasion."</p>
                            </div>
                            <div class="testi_img">
                                
                                <h4>Pawan Patil <span>Jalgaon, Maharashtra</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row -->
    </div>
    <!--/.container -->
</section>
<!--  End:Testimonials Section 
==================================================-->



    <!-- Start: Latest Event/blog Section
==================================================-->
<section class="blog-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <span class="heading_small"> Event </span>
            <h2> Latest Event</h2>
        </div>
        <!-- End: Heading -->
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog_wrp">
                    <div class="blog_img">
                        <a class="blog_img" routerLink="/blog">
                            <img class="img-responsive" src="images/blog1.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog_info">
                        <a routerLink="/blog">
                            <h4>India's Dairy Dilemma: Prioritizing Purity over Profit</h4>
                        </a>
                        <p>Namaste! I'm Dilip Chorghe, and today I want to touch upon a topic very close to my heart…</p>

                        <div class="blog_date">
                            <span> <i class="fal fa-calendar-alt"></i> by Dilip Chorghe</span>
                        </div>
                        <span class="blog_read">
                            <a routerLink="/blog">Read more</a><i class="far fa-chevron-double-right"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- End: col-md-4 -->

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog_wrp">
                    <div class="blog_img">
                        <a class="blog_img" routerLink="/blog">
                            <img class="img-responsive" src="images/blog2.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog_info">
                        <a routerLink="/blog">
                            <h4>Sandeep Dairy Farm: A Saga of Tradition Meeting Technology</h4>
                        </a>
                        <p>Hello, dear readers! This is Dilip Chorghe, and today I'd like to take you on a journey. A journey that resonates….</p>
                        <div class="blog_date">
                            <span> <i class="fal fa-calendar-alt"></i> by Dilip Chorghe</span>
                        </div>
                        <span class="blog_read">
                            <a routerLink="/blog">Read more</a><i class="far fa-chevron-double-right"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- End: col-md-4 -->

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog_wrp">
                    <div class="blog_img">
                        <a class="blog_img" routerLink="/blog">
                            <img class="img-responsive" src="images/blog3.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog_info">
                        <a routerLink="/blog">
                            <h4> Blending Tradition with Modernity at Sandeep Dairy Farm</h4>
                        </a>
                        <p>Namaste, dear readers! This is Dilip Chorghe, and today, I am elated to share with you a journey…....</p>
                        <div class="blog_date">
                            <span> <i class="fal fa-calendar-alt"></i> by Dilip Chorghe</span>
                        </div>
                        <span class="blog_read">
                            <a routerLink="/blog">Read more</a><i class="far fa-chevron-double-right"></i>
                        </span>
                    </div>
                </div>
            </div>

           
            
            
            
            
            
            
            <!-- End: col-md-4 -->

        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End: Latest Event/blog Section
==================================================-->


