    <!-- Start: Header Section 
==================================================-->
<div class="header_topbar" id="top">
    <!-- Logo -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 header_top_right list-unstyled">
                <ul>
                    <li>
                        <i class="far fa-envelope"></i>
                        <a href="mailto:contact@sandeepdairyfarm.ind.in" style="color: white;">contact@sandeepdairyfarm.ind.in</a>
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <a href="https://wa.me/919850783338?text=Hello%20from%20the%20website!" style="color: white;" target="_blank">(+91) 9850783338</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 header_top_left">
                <ul class="header_socil list-inline pull-left">
                    <li>
                        <i class="far fa-clock"></i>
                        <a style="color: white;" href="https://www.google.com/search?q=sandip+dairy+farm+kothrud&rlz=1C1VDKB_enIN990IN990&oq=sandip+dairy+farm+&aqs=chrome.0.69i59j69i57j0i13i512l2j0i22i30l2.3413j0j7&sourceid=chrome&ie=UTF-8" target="_blank">08:00 am - 6:00 pm</a>
                    </li>
                    
                    <li>
                        <a href="#" class="fab fa-facebook-f"></a>
                    </li>
                    <li>
                        <a href="#" class="fab fa-twitter"></a>
                    </li>
                    <li>
                        <a href="#" class="fab fa-linkedin-in"></a>
                    </li>
                    <li>
                        <a href="#" class="fab fa-skype"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End: Header Info -->

<!-- Start: header navigation -->
<div class="navigation">
    <div class="container">
        <div class="row">
            <div class="logo col-md-3 col-sm-3">
                <a href="index.html"><img class="img-responsive" src="../../assets/images/1/1.png" alt="Dairy-Logo">
                </a>
            </div>
            <div class="col-md-7 col-sm-7">
                <div id="navigation">
                    <ul>
                        <li class="active has-sub"><a routerLink="/">Home</a>
                        </li>
                        <li class="has-sub"><a routerLink="/aboutus">About Us</a>
                            
                        </li>
                        <li class="has-sub"><a routerLink="/blog">Blog</a>
                        
                        </li>
                        <li class="has-sub"><a routerLink="/mainshop">Shop</a>
                            
                        </li>
                        <li><a routerLink="/contactus">Contact</a></li>
                    </ul>
                </div>
                <!-- End: Menu  -->
            </div>

            <!-- Start: Search & Cart  -->
            <div class="header_cart col-md-2 col-sm-2">
                <ul>
                    <li class="header_search">
                        <a routerLink="/mainshop" class="search-trigger"><i class="fal fa-search"></i></a>
                        <div class="search_wrp">
                            <i class="search_close open icon-glyph-146" id="search_close"></i>
                            <div class="search_frm">
                                <form method="get">
                                    <div class="search-field">
                                        <input type="search" class="header-search-input"
                                            placeholder="Search Your Keyword...">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="header_cart_icon">
                        <a href="javascript:void(0);"><i class="fal fa-shopping-cart"></i></a>
                        <span class="cart_count"> 0 </span>
                    </li>
                </ul>
            </div>
            <!-- End: Cart  -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</div>
<!-- End: header navigation -->