<head>
    <script src="https://youtu.be/nQKXWj6sT_Q?list=TLGGmTwoBWwMiUAxMzA5MjAyMw"></script>
</head>
  <!-- Start: Cart Sidebar -->
  <section class="cart_sidebar_info transition-3">
    <div class="info_inner transition-3">
        <div class="menu_sidebar_logo">
            <img src="images/footer-logo.png" alt="">
            <a href="javascript:void(0);" class="cart_sidebar_close-btn"><i class="fa fa-times"></i></a>
        </div>
        <!-- /. logo  -->

        <!-- Cart item -->
        <div class="cart-modal-body">
            <h2>My Order</h2>
            <div class="cart-modal-product-wrap">
                <div class="cart-modal-product">
                    <div class="cart-modal-img">
                        <a href="shop.html">
                            <img src="../../assets/images/product2.jpg" alt="product">
                        </a>
                    </div>
                    <div class="cart-modal-content">
                        <h4><a href="shop-details.html">Organic Grassfed Butter </a></h4>
                        <div class="cart-modal-action">
                            <div class="cart-modal-action-item">
                                <div class="cart-modal-quantity">
                                    <p>1</p>
                                    <p>x</p>
                                    <p class="cart-quantity-price">$ 8.30</p>
                                </div>
                            </div>
                            <div class="cart-modal-delete">
                                <a href="#"><i class="icofont-ui-delete"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-modal-product">
                    <div class="cart-modal-img">
                        <a href="shop.html">
                            <img src="images/product3.jpg" alt="product">
                        </a>
                    </div>
                    <div class="cart-modal-content">
                        <h4><a href="shop-details.html">Organic Grassfed Butter </a></h4>
                        <div class="cart-modal-action">
                            <div class="cart-modal-action-item">
                                <div class="cart-modal-quantity">
                                    <p>1</p>
                                    <p>x</p>
                                    <p class="cart-quantity-price">$ 12.50</p>
                                </div>
                            </div>
                            <div class="cart-modal-delete">
                                <a href="#"><i class="icofont-ui-delete"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-modal-total">
                <p>Total</p>
                <h3>$45.00</h3>
            </div>
            <div class="cart-modal-button">
                <a href="checkout.html" class="slider_btn_one more-link ">Proceed To Checkout</a>
                <a href="cart.html" class="slider_btn_one more-link ">View Shopping Cart</a>
            </div>
        </div>
        <!-- end: Cart item -->

    </div>
    <!-- /. info_inner-->
</section>
<div class="body-overlay transition-3"></div>
<!-- Start: Cart Sidebar -->
    <!-- breadcrumb -->
    <header class="breadcrumb-section">
        <!-- Start: Header Content -->
        <div class="container">
            <div class="row wow fadeIn" data-wow-delay="0.5s">
                <div class="col-sm-12">
                    <!-- Headline Goes Here -->
                    <h3>About Us</h3>
                    <p><a href="index.html"> <i class="fal fa-home-alt"></i> Home </a> <i
                            class="fas fa-chevron-right"></i> About Us </p>
                </div>
            </div>
            <!-- End: .row -->
        </div>
        <!-- End: Header Content -->
    </header>
    <!--/. breadcrumb   
==================================================-->

    <!-- Start: About Us Section
==================================================-->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 my-auto">
                <div class="base-header base_header_left">
                    <span class="heading_small">
                        About Us
                    </span>
                    <h2> About Sandeep Dairy Farm & timeless Legacy.</h2>
                    <p>Established by Dilip Chorghe in Mulshi, Sandeep Dairy Farm blends tradition with innovation. Beginning with Mahadu Chorghe's single cow, the legacy expanded to 70 cows under Diwanji's vision. </p>

                    <div class="about_list">
                        <img src="../../assets/images/about-icon.png" alt="">
                        <p>Today, emphasizing hygiene and ethics, they offer 20 milk and 30 sweet products with major outlets in Pirangut and Kothrud. Committed to excellence, they intertwine ancestral values with modernity.</p>
                    </div>

                    <a routerLink="/aboutus" class="more-link">Read More <i class="far fa-chevron-double-right"></i></a>
                </div>
            </div>
            <!-- /.about_wrp-->
            <div class="col-lg-6 col-md-12" id="scene">
                <div class="about_img layer" data-depth="0.20">
                    <img src="../../assets/images/about.png" alt="image">
                </div>
            </div>
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
</section>
<!-- End: About Us Section
==================================================-->


<!-- Start:  Team Section
==================================================-->




<section class="team-section" style="padding: 0%;padding-bottom: -5%;background-color: white;">
    <iframe  height="600" style="width: 100%;" src="https://www.youtube.com/embed/nQKXWj6sT_Q?autoplay=1&mute=1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-pocket"> </iframe>
</section>
<!-- End: Team Section
==================================================-->


<!--  Start:Testimonials Section
==================================================-->
<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12" id="scene2">
                <div class="testi_sing_img layer" data-depth="0.50">
                    <img alt="testimonial" src="../../assets/images/testimonial.png">
                </div>
            </div>

            <div class="col-lg-6 col-sm-12">
                <!-- Start: Heading -->
                <div class="base-header base_header_left">
                    <span class="heading_small"> Review </span>
                    <h2> What Client's Say</h2>
                </div>
                <!-- End: Heading -->
                <div class="testimonial-carousel" id="testimonial">
                    <div class="item">
                        <!-- profile 1-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>"Absolutely loved the Kajoo Katli! It was just the right amount of sweet, with the rich taste of kajoo (cashews) shining through. It reminded me of my childhood Diwali celebrations. Perfect for gifting and treating guests. Highly recommend!"</p>
                            </div>
                            <div class="testi_img">
                                
                                <h4>Gaurav Mali <span>Kothrud,Pune</span></h4>
                            </div>
                        </div>
                    </div>
                    <!--End: profile 1-->
                    <div class="item">
                        <!-- profile 2-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>"This Malai Lassi is a refreshing delight, especially during hot summer days. The creaminess from the malai and the slight tanginess make it a perfect drink. Feels like a cool breeze in every sip. A must-try for everyone!"</p>
                            </div>
                            <div class="testi_img">
                               
                                <h4>Amol Patil <span>Katraj, Pune</span></h4>
                            </div>
                        </div>
                    </div>
                    <!-- End: profile 2 -->
                    <div class="item">
                        <!-- profile 3-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>"The Malai Pedhe were melt-in-the-mouth soft. Rich and creamy, these pedhe have the authentic taste that takes me back to my grandma's kitchen. The best treat for any festive occasion or just to satisfy sweet cravings. Thumbs up!"</p>
                            </div>
                            <div class="testi_img">
                               
                                <h4>Om Nikam<span>Solapur, Maharastra</span></h4>
                            </div>
                        </div>
                    </div>
                    <!--End: profile 3-->
                    <div class="item">
                        <!-- profile 4-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>"Amrakhand is a blissful mix of mango and yogurt. This one has the right balance – not too sweet, with the natural flavor of ripe mangoes. Feels like a creamy mango delight in a bowl. Can't get enough of it!"</p>
                            </div>
                            <div class="testi_img">
                                
                                <h4>Prathamesh Garghe <span>Sangali, Maharashtra</span></h4>
                            </div>
                        </div>
                    </div>
                    <!-- End: profile 4 -->
                    <div class="item">
                        <!-- profile 4-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>""Basundi is always a treat, and this one doesn't disappoint. Thick, creamy, and laden with dry fruits, it's a delightful end to any meal. The subtle cardamom notes add to its charm. A true Indian dessert classic!""</p>
                            </div>
                            <div class="testi_img">
                                
                                <h4>Mahesh Nikam <span>Solapur, Maharashtra</span></h4>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <!-- profile 4-->
                        <div class="testi_wrp">
                            <div class="testi_info">
                                <p>""Got the Kalakand for a family function, and it was an instant hit! Everyone loved its grainy texture and the milky taste. It's a classic sweet done right. Will order more for the next occasion."</p>
                            </div>
                            <div class="testi_img">
                                
                                <h4>Pawan Patil <span>Jalgaon, Maharashtra</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row -->
    </div>
    <!--/.container -->
</section>
<!--  End:Testimonials Section 
==================================================-->


<!-- Start: Client Section
==================================================-->

<!--   End:Client Section
==================================================-->

<script>
    // This function creates and controls the YouTube video player
    function onYouTubeIframeAPIReady() {
      var player = new YT.Player('team-section', {
        videoId: 'https://youtu.be/nQKXWj6sT_Q?list=TLGGmTwoBWwMiUAxMzA5MjAyMw' , // Replace with your actual YouTube video ID
        playerVars: {
          autoplay: 1, // Auto-play the video
          controls: 0, // Hide video controls
          showinfo: 0, // Hide video title and uploader info
          modestbranding: 1, // Hide YouTube logo
          loop: 1, // Loop the video
          mute: 1, // Mute the video
          playlist: 'https://youtu.be/nQKXWj6sT_Q?list=TLGGmTwoBWwMiUAxMzA5MjAyMw' // Necessary for loop to work
        },
        events: {
          onReady: function(event) {
            event.target.playVideo(); // Start playing the video
          }
        }
      });
    }
  </script>

<script>
    onYouTubeIframeAPIReady();
  </script>