
    <!-- Start: Cart Sidebar -->
    <section class="cart_sidebar_info transition-3">
        <div class="info_inner transition-3">
            <div class="menu_sidebar_logo">
                <img src="images/footer-logo.png" alt="">
                <a href="javascript:void(0);" class="cart_sidebar_close-btn"><i class="fa fa-times"></i></a>
            </div>
            <!-- /. logo  -->

            <!-- Cart item -->
            <div class="cart-modal-body">
                <h2>My Order</h2>
                <div class="cart-modal-product-wrap">
                    <div class="cart-modal-product">
                        <div class="cart-modal-img">
                            <a href="shop.html">
                                <img src="images/product2.jpg" alt="product">
                            </a>
                        </div>
                        <div class="cart-modal-content">
                            <h4><a href="shop-details.html">Organic Grassfed Butter </a></h4>
                            <div class="cart-modal-action">
                                <div class="cart-modal-action-item">
                                    <div class="cart-modal-quantity">
                                        <p>1</p>
                                        <p>x</p>
                                        <p class="cart-quantity-price">$ 8.30</p>
                                    </div>
                                </div>
                                <div class="cart-modal-delete">
                                    <a href="#"><i class="icofont-ui-delete"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-modal-product">
                        <div class="cart-modal-img">
                            <a href="shop.html">
                                <img src="images/product3.jpg" alt="product">
                            </a>
                        </div>
                        <div class="cart-modal-content">
                            <h4><a href="shop-details.html">Organic Grassfed Butter </a></h4>
                            <div class="cart-modal-action">
                                <div class="cart-modal-action-item">
                                    <div class="cart-modal-quantity">
                                        <p>1</p>
                                        <p>x</p>
                                        <p class="cart-quantity-price">$ 12.50</p>
                                    </div>
                                </div>
                                <div class="cart-modal-delete">
                                    <a href="#"><i class="icofont-ui-delete"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-modal-total">
                    <p>Total</p>
                    <h3>$45.00</h3>
                </div>
                <div class="cart-modal-button">
                    <a href="checkout.html" class="slider_btn_one more-link ">Proceed To Checkout</a>
                    <a href="cart.html" class="slider_btn_one more-link ">View Shopping Cart</a>
                </div>
            </div>
            <!-- end: Cart item -->

        </div>
        <!-- /. info_inner-->
    </section>
    <div class="body-overlay transition-3"></div>
    <!-- Start: Cart Sidebar -->


    <!-- breadcrumb -->
    <header class="breadcrumb-section">
        <!-- Start: Header Content -->
        <div class="container">
            <div class="row wow fadeIn" data-wow-delay="0.5s">
                <div class="col-sm-12">
                    <!-- Headline Goes Here -->
                    <h3>Our Blog</h3>
                    <p><a href="index.html"> <i class="fal fa-home-alt"></i> Home </a> <i
                            class="fas fa-chevron-right"></i> Blog </p>
                </div>
            </div>
            <!-- End: .row -->
        </div>
        <!-- End: Header Content -->
    </header>
    <!--/. breadcrumb   
==================================================-->




    <!-- Start : Blog Page Content  
==================================================-->
    <div class="blog_container blog_page">
        <div class="container">
            <div class="row">
                <!-- Blog Area -->
                <div class="col-lg-8 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12" *ngIf="visibleBlog === 1">
                            <div class="blog_pg_wrp">
                                <div class="blog_pg_img">
                                    <a routerLink="/blog">
                                        <img class="img-responsive" src="../../assets/images/blog1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog_pg_info">
                                    <div class="blog_date">
                                        <span><i class="fal fa-calendar-alt"></i> 14 Sep 2023</span>
                                    </div>
                                    <a routerLink="/blog">
                                        <h4> India's Dairy Dilemma: Prioritizing Purity over Profit </h4>
                                    </a>
                                    <p>Namaste! I'm Dilip Chorghe, and today I want to touch upon a topic very close to my heart – the integrity and authenticity of our beloved Indian dairy industry.

                                        India, the land of diverse cultures, is also celebrated for its mouth-watering sweets and delicious dairy delights. But, in recent times, there has been a growing concern in the dairy sector that's hard to ignore. It's alarming to see many local milk companies and suppliers trading in milk products without ever producing them. The question that bothers me, and should bother you, is: what exactly are they selling to our fellow countrymen? Is it the pure and wholesome milk we have cherished for generations? Or is it just another commercial product stripped of its essence and nourishment?
                                        
                                        This lackadaisical attitude towards trading has cast a shadow over the once-trusted dairy sector. There's a profound difference between creating a product and merely trading it. When you create, you forge a bond with the product, understanding its value, its fine details, and most importantly, the trust that millions of Indians place in you. Sadly, many traders have lost sight of this sentiment.
                                        
                                        However, as they say, every cloud has a silver lining. There are heroes among us who are standing up against this rampant malpractice. Being one of them, I feel it's my duty to uphold the values of authenticity and quality in the dairy sector. It's not about being a saviour, but about ensuring that our tradition of purity remains untainted.
                                        
                                        A shining example of this commitment to quality is the Sandeep Dairy Farm. Here's a company that stands out from the crowd. They believe in producing what they sell. With an established factory and an efficient supply chain management system, they take pride in extracting milk directly from cows and buffaloes. For over half a century, Sandeep Dairy Farm has been a name synonymous with protein-rich, hygienic milk and sweet products. Their success story is a testament to the fact that purity and authenticity always find their rightful place in the hearts of the masses.
                                        
                                        In wrapping up, I urge all my fellow Indians to stay informed and make conscious choices. It's high time we support entities that put quality at the forefront, rather than just trading for the sake of profit. After all, the soul of India resonates in its purity, and the love and care we invest in what we produce. Let's not compromise on that, ever. Jai Hind!</p>
                                    <div class="blog_pg_meta">
                                        <div class="meta_col">
                                            <!-- <span><i class="fal fa-comment-alt-lines"></i>0 comments</span> -->
                                            <span><i class="fal fa-user"></i>By Dilip Chorghe</span>
                                        </div>
                                        <a class="blog_read" routerLink="/blog"> <i class="far fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12" *ngIf="visibleBlog === 2">
                            <div class="blog_pg_wrp">
                                <div class="blog_pg_img">
                                    <a routerLink="/blog">
                                        <img class="img-responsive" src="../../assets/images/blog2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog_pg_info">
                                    <div class="blog_date">
                                        <span><i class="fal fa-calendar-alt"></i>14 Sep 2023</span>
                                    </div>
                                    <a routerLink="/blog">
                                        <h4> Sandeep Dairy Farm: A Saga of Tradition Meeting Technology </h4>
                                    </a>
                                    <p>Hello, dear readers! This is Dilip Chorghe, and today I'd like to take you on a journey. A journey that resonates with family values, passion, and an undying spirit of service.

                                        <br><br><b>Where Tradition Meets Technology</b><br>
                                        
                                        Nestled in the heart of Mulshi, Sandeep Dairy Farm stands tall as a gleaming beacon of how tradition can seamlessly merge with innovation. The very essence of our farm is the perfect blend of time-tested wisdom and the marvels of modern technology. But more than anything, it’s built upon a foundation of family, integrity, advancement, and a commitment to our community.
                                        
                                        <br><br><b>Our Rooted Legacy<br></b>
                                        
                                        Our lineage in the dairy business is indeed a tale that evokes inspiration. Our story is deeply intertwined with the sacred ethos of the Baliraja, the revered farmer of our lands, and our gratitude towards Annapurna Devi, the goddess of food. The journey began with my forefather, Mahadu Chorghe. With a heart full of dreams and a spirit that refused to waver, he initiated our farming business with just a single cow. Little did he know, this humble start would pave the way for a flourishing dairy empire.
                                        
                                        <br><br><b>Pioneering a Movement<br></b>
                                        
                                        It was under the visionary leadership of Shivajirao Chorghe that our family's unwavering dedication to providing pure milk began to take form. But the true game-changer was Diwanji Chorghe. His revolutionary idea to introduce home deliveries of our pure milk brought an overwhelming wave of support from our community. Before we knew it, our modest herd of five cows grew exponentially to a whopping seventy!
                                        
                                        <br><br><b>More Than Just a Business<br></b>
                                        
                                        Today, when I look at Sandeep Dairy Farm, I see more than just a business; I see a legacy. A legacy crafted with hard work, undying dedication, and an insatiable spirit of service. Our journey is a testament to the power of determination, vision, and unbridled passion.
                                        
                                        In a rapidly changing world, where the boundaries between the past and the future often seem indistinct, our farm stands as a poignant reminder. It showcases the sheer beauty of harmonising the cherished old with the revolutionary new. And, dear readers, there's a unique kind of magic that unfolds when you embark on such a journey with all your heart and soul.
                                        
                                        Thank you for allowing me to share our story. Here's to traditions, innovations, and the timeless dance between the two. Cheers!</p>
                                    <div class="blog_pg_meta">
                                        <div class="meta_col">
                                          
                                            <span><i class="fal fa-user"></i>By Dilip Chorghe</span>
                                        </div>
                                        <a class="blog_read" routerLink="/blog"> <i class="far fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12"  *ngIf="visibleBlog === 3">

                            <div class="blog_pg_wrp">
                                <div class="blog_pg_img">
                                    <a href="blog.html">
                                        <img class="img-responsive" src="../../assets/images/blog1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="blog_pg_info">
                                    <div class="blog_pg_meta">
                                        <div class="meta_col">
                                           
                                            <span><i class="fal fa-calendar-alt"></i>14 Sep 2023</span>
                                            <span><i class="fal fa-user"></i>By Dilip Chorghe</span>
                                        </div>
                                    </div>
                                    <a routerLink="/blogsingle">
                                        <h4>  Blending Tradition with Modernity at Sandeep Dairy Farm </h4>
                                    </a>
                                    <p>Namaste, dear readers! This is Dilip Chorghe, and today, I am elated to share with you a journey that is close to my heart.
            
                                        Our family's name, Chorghe, is synonymous with dedication and perseverance. This journey began in the serene lands of Mulshi, where we laid the foundation of our legacy, Sandeep Dairy Farm. Over the years, our family has transformed hard work into an emblem of success, deeply rooted in the traditional values imparted by Earth's nurturer, Baliraja, and the blessings of the divine Annapurna Devi.
                                        
                                        However, our story isn't solely about dairy farming. It's about a commitment to the community we serve. At Sandeep Dairy Farm, we take immense pride in offering only the best. This isn't just a business motto; it's a promise to our esteemed clientele, especially our loyal customers in the Kothrud area. Every drop of milk we deliver, fresh from the cow, encapsulates our love, care, and strict adherence to top-notch hygiene standards.
                                        
                                        It disheartens me to witness traders in the dairy sector compromising on quality for the sake of quick gains. While many enter this domain without understanding the true essence of dairy farming, Sandeep Dairy Farm has remained steadfast. For over five decades, we have been crafting a plethora of sweet and milk products, ensuring that each is brimming with protein and adheres to the highest hygiene standards. Whether it's one of our 20 distinct milk products or 30 delectable sweets, we endeavour to provide unparalleled value to our patrons.
                                        
                                        Embracing the wave of digitalization, we are proud to have expanded our reach throughout Pune, Maharashtra. With our branches in Pirangut and Kothrud, our offerings are now more accessible than ever.
                                        
                                        But, in all honesty, our success isn't just about hard work or dedication. It's a tribute to the blessings of our forefathers and the relentless efforts of the generations that followed. As the torchbearer of Sandeep Dairy Farm, I remain forever grateful to my ancestors and equally hopeful for the future our successors will shape. Together, we strive to ensure that Sandeep Dairy Farm continues to be a symbol of excellence and unwavering service to the community.
                                        
                                        <b>Jai Hind!</b>
                                        </p>
                                    
                                        <div class="blog_pg_meta">
                                            <div class="meta_col">
                                              
                                                <span><i class="fal fa-user"></i>By Dilip Chorghe</span>
                                            </div>
                                            <a class="blog_read" routerLink="/blog"> <i class="far fa-arrow-right"></i>
                                            </a>
                                        </div>
                                   
                                    
                                </div>
                            </div>
                            <!--/ article -->
            
                        
            
                           
                            <!-- comment box   -->
                            
                            <!--/.comment box-->
                        </div>

                        
                    </div>
                </div>
                <!--/ Blog Area -->

                <!-- Widget Area -->
            <div class="col-lg-4 col-sm-12 widget-area">
                <!-- Widget Search -->
                
                <!-- Widget Search /- -->
                <!-- Recent Post -->
                <aside class="widget wiget-recent-post">
                    <h3 class="widget-title">Recent Post</h3>
                    <div class="recent-post-box" (click)="visibleBlog = 1">
                        <div class="recnt_pst_imge">
                            <img src="images/blog1.jpg" alt="">
                        </div>
                        <div class="recent-title">
                            <a > India's Dairy Dilemma: Prioritizing Purity over Profit </a>
                            <span><i class="fal fa-calendar-alt"></i> 14 Sep 2023</span>
                        </div>
                    </div>
                    <div class="recent-post-box" (click)="visibleBlog = 2">
                        <div class="recnt_pst_imge">
                            <img src="images/blog2.jpg" alt="">
                        </div>
                        <div class="recent-title">
                            <a > Sandeep Dairy Farm: A Saga of Tradition Meeting Technology </a>
                            <span><i class="fal fa-calendar-alt"></i> 14 Sep 2023</span>
                        </div>
                    </div>
                    <div class="recent-post-box" (click)="visibleBlog = 3">
                        <div class="recnt_pst_imge">
                            <img src="images/blog3.jpg" alt="">
                        </div>
                        <div class="recent-title">
                            <a > Blending Tradition with Modernity at Sandeep Dairy Farm </a>
                            <span><i class="fal fa-calendar-alt"></i>14 Sep 2023</span>
                        </div>
                    </div>
                </aside>
                <!-- Recent Post /- -->
                <!-- Post Categories -->
               
                <!-- Post Categories /- -->

                <!-- Widget Tags -->
                
                <!-- Widget Tags /- -->
            </div>
            <!-- Widget Area /- --
            </div>
        </div>
        <!-- Container /- -->
    </div>
    <!-- End : Blog Page Content 
==================================================-->
