    <!-- Start:Footer Section 
==================================================-->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <!-- Start: About -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="widget">
                    <div class="footer_logo">
                        <img class="img-responsive" src="../../assets/images/1/2.png" alt="">
                    </div>
                    
                    <div class="footer_contact">
                       

                        <div class="footer-contact-address">
                           
                            <div class="footer-contact-text">
                                <img class="img-responsive" src="../../assets/images/1/1.png" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End: About -->
            <!-- Start: Quick Link -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="widget quick_lnk">
                    <h5>Quick Link</h5>
                    <ul>
                        <li>
                            <a href="services.html">Bestsseller Milk Products</a>
                        </li>
                        <li>
                            <a href="services.html">Bestsseller Sweet Products</a>
                        </li>
                        <li>
                            <a href="services.html">Milk Products</a>
                        </li>
                        <li>
                            <a href="services.html">Sweet Products</a>
                        </li>
                        <li>
                            <a href="services.html">Festival Specials</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End: Quick Link -->
            <!-- Start: Latest post -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="widget">
                    <h5>Latest Articles</h5>
                    <ul class="footer_recent_blog">
                        <li>
                            <img class="img-responsive" src="../../assets/images/blog1.jpg" alt="">
                            <span class="post_cont">
                                <span class="post-date">
                                    <i class="fa fa-calendar"></i>by Dilip Chorghe
                                </span>
                                <a routerLink="/blog">
                                    <span>India's Dairy Dilemma: Prioritizing…</span>
                                </a>
                            </span>
                        </li>
                        <li>
                            <img class="img-responsive" src="../../assets/images/blog1.jpg" alt="">
                            <span class="post_cont">
                                <span class="post-date">
                                    <i class="fa fa-calendar"></i>by Dilip Chorghe
                                </span>
                                <a routerLink="/blog">
                                    <span>Sandeep Dairy Farm: A Saga of Tradition….</span>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End: Latest post -->

            <!-- Start:Newsletter -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="widget">
                    
                    <h5 style="font-weight: 600;"><a href="mailto:contact@sandeepdairyfarm.ind.in"><i class="fa fa-envelope"></i> sandeepdairyfarm.com</a></h5>

                    <!-- Start Subscribe -->
                    <div class="news_letter_wrp">
                        <p>Kothrud,Pune</p>
                        <form class="mailchimp">
                            <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                            <input class="email_field" type="text" name="email" id="subscriber-email"
                                placeholder="Email Address">
                            <button class="submit-contact" type="submit" id="subscribe-button"><i
                                    class="fal fa-arrow-right"></i></button>
                            <span class="subscription-success"> </span>
                            <span class="subscription-error"> </span>
                            <label class="subscription-label" for="subscriber-email"></label>
                        </form>
                        <!-- /END MAILCHIMP FORM STARTS -->
                    </div>
                </div>
            </div>
            <!-- End:Newsletter -->
        </div>

        <!-- Start:Subfooter -->
        <div class="subfooter_wrap">
            <div class="subfooter">
                <p>2021 © Copyright Sandeep Dairy Farm All Rights Reserved</p>
            </div>

            <div class="footer_socil">
                <ul class="list-icons link-list footer_soc">
                   
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                       
                    </li>
                </ul>
            </div>
            <!-- End:Subfooter -->
        </div>
    </div>
</footer>
<!-- End:Footer Section 
==================================================-->